{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Ekratia: {% trans "Let's build a better government" %}.{% endblock title %}

{% block body_class %}home{% endblock %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><i class="fa fa-arrow-circle-up wow bounceIn" data-wow-delay=".2s"></i> Ekratia</h1>
                <hr>
                <p>{% trans "Let's build a better government" %}</p>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl page-scroll">{% trans "Join Us" %}</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans "What is Ekratia?" %}</h2>
                    <hr class="light">
                    <p class="text-faded">
                        {% blocktrans %}Ekratia is a new way of making democracy. Members of Ekratia use the Internet to vote directly for new ideas and laws. In case they are too busy to vote, members can delegate their vote to other members. Members can change their delegates on real time{% endblocktrans %}.
                        
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Democracy made for the Internet" %}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-level-up wow bounceIn text-primary"></i>
                        <h3>{% trans "Delegate" %}</h3>
                        <p class="text-muted">{% trans "Vote directly or delegate your votes to others" %}.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>{% trans "Discuss" %}</h3>
                        <p class="text-muted">{% trans "Start and participate in intelligent conversations" %}.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-arrow-circle-up wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>{% trans "Decide" %}</h3>
                        <p class="text-muted">{% trans "Propose and vote for laws and programs" %}.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>{% trans "Trust" %}</h3>
                        <p class="text-muted">{% trans "Ekratia is build on transparency" %}.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>{% trans "Being a good citizen is now easy" %}.</h2>
                <a href="{% url 'account_login' %}" class="btn btn-default btn-xl wow tada">{% trans "Join us now!" %}</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans "Who is behind Ekratia" %}?</h2>
                    <hr class="primary">
                    <p>{% blocktrans %}Ekratia is being supported and improved by a group of software developers, social scientists, and translators. Ekratia is a fully transparent <a href="https://github.com/ekratia/ekratia">open source effort</a>. You can see who has done what <a href="https://github.com/torrenegra/ekratia/graphs/contributors">here</a>.</p>
                    <p>You can view the platform roadmap and propose ideas using our <a href="https://trello.com/b/WNAgAtbx/ekratia">Trello board</a>.</p>
                    <p>We are always looking for volunteers. If you want to volunteer, please contact us at <a href="http://twitter.com/ekratia">@ekratia</a>.</p>
                    <p>Ekratia was founded in 2015 by Alex Torrenegra, Amaury Prieto, Cristian Chaparro, Daniel Garcia, and Esteban Contreras in a hackathon in Bogotá, Colombia.{% endblocktrans %}</p>
                </div>

            </div>
        </div>
    </section>
    
      <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                     <p class="text-faded">"<a href="https://www.flickr.com/photos/dotbenjamin/2765083201">Show us your smile!</a>" by <a href="https://www.flickr.com/photos/dotbenjamin/">Ben Smith</a> is licensed under <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}


