{% extends "base.html" %}

{% load i18n static %}

{% block title %}
    Full-Stack Web Developer Python/Django
{% endblock title %}

{% block body_class %}
    home
{% endblock body_class %}

{% block body %}
<header style="background-image: url({% static 'images/ekratia-full-stack-developer.png' %})">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">Are you a full-stack web developer that wants to build a better government?</h1>
            <hr>
            <p style="color:white">We want you!</p>
        </div>
    </div>
</header>

<section id="job">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center">{% trans "Job description" %}</h2>
                <hr class="primary">
				<p>Come help us create the future of participative democracy. We're looking for passionate, creative web developers who are excited about solving new problems. As a full-stack developer, you'll work with everything from front-end HTML, SASS and JS with AngularJS as framework, to server-side Python with Django as framework, and several different data stores including PostgreSQL, Redis, and Elasticsearch. We don't expect you to know everything coming in, so we'll pair you with mentors who will help you grow and develop your skills.</p>
				<p>We will hire you wherever you are in the world.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-primary" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">{% trans "Skills and requirements" %}</h2>
                <hr class="light">
                <h4>{% trans "We expect to see" %}</h4>
                <p class="text-faded">Solid programming skills in your language of choice (not necessarily ours) and a track record of getting stuff done.</p>
					<p class="text-faded">Experience in server-side web development with the Python/Django stack.</p>
					<p class="text-faded">Knowledge of modern HTML, CSS, and JS.</p>
					<p class="text-faded">Strong telecommuting skills.</p>
				<h4>{% trans "We'd like to see (but it's not required)" %}</h4>
				<p class="text-faded">Any open source code or example of projects that you're proud of.</p>
				<p class="text-faded">Any other evidence of your passion for building great software.</p>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">{% trans "About Ekratia" %}</h2>
                <hr class="primary">
                <p>Ekratia is a new way of making democracy. Members of Ekratia use the Internet to vote directly for new ideas and laws. In case they are too busy to vote, members can delegate their vote to other members. Members can change their delegates on real time.</p>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>{% trans "Contact" %}</h2>
                <p>Send us your resume and help us create a new kind of citizen.</p>
                <a href="mailto:ekratiateam@gmail.com" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">ekratiateam@gmail.com</a>
            </div>
        </div>
    </aside>

{% endblock body %}