{% extends "base.html" %}

{% block title %}{% trans "Rules of Ekratia" %}{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h1>{% trans "Rules of Ekratia" %}</h1>

		<p>We, the members of Ekratia, in order to create a better, global democracy, promote participation, and ease representation, do ordain and establish these Rules of Ekratia:</p>

		<ol>
			<li>In order to avoid the dead from ruling the living, each rule of Ekratia should expire after 20 years. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to promote diversity, any human being that is alive can be a Member of Ekratia. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to guarantee the sustainability of Ekratia, all Members must follow the rules of Ekratia. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to guarantee proper representation, an Active Member is a Member that has used Ekratia's website during the previous 365 days. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to promote the rule of the people by the people, all Members can vote in favor (Upvote) and against (Downvote) ideas and rule proposals. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to allow Ekratia to improve, the rules of Ekratia can change and be extended. Changes and extensions to the rules of Ekratia require Upvotes equivalent to at least 50% of all Active Members. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to promote equality, the individual votes of all Members have similar weight by default. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to allow busy Members to have a say, Members have the option of delegating their votes to other Members (Delegates). If a Member has selected multiple Delegates, the vote of the Member is distributed in equal parts to her Delegates. If a Delegate delegates her votes to other Members, the votes from other Members that such Delegate represents is also delegated. If a Member has multiple Delegates and some of the Delegates vote while others don't, the delegated votes only count for the portion of the original delegation and not for the entire vote of the Member. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to promote trust, the code base, databases, and logs of Ekratia are public and accessible. <span class="expiration">[Expires May 18, 2035]</span></il>
			<li>In order to promote alignment among all Members, all rules of Ekratia should start explaining the reason behind them. <span class="expiration">[Expires May 18, 2035]</span></il>
		</ol>

		<p>Done in convention by the unanimous consent of the members of Ekratia present on May 18th, 2015. In witness whereof we have hereunto subscribed our names:</p>

		<p>Alex Torrenegra, Amaury Prieto, Cristian Chaparro, Daniel Garcia, Esteban Contreras.</p>
	</div>
</div>
{% endblock content %}
