language: python

python:
  - 2.6
  - 2.7

services: postgresql

env:
  - DJANGO=1.8.6

before_install:
  - export PYTHONPATH=$HOME/builds/ekratia/ekratia
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - psql -c "CREATE DATABASE mydb;" -U postgres

script:
  - python manage.py migrate --noinput