{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "My Delegates" %}{% endblock title %}
{% block content %}
    <h2>{% trans "My Delegates" %}</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, est nihil unde quis quibusdam? Totam illo hic laborum consequuntur, sunt! Commodi doloribus animi dolor assumenda, esse tempore sequi officia debitis.

    <h3>{% trans "Your current Delegates" %}</h3>
    <h3>{% trans "Add More Delegates" %}</h3>
{% endblock %}
