{% extends "base.html" %}
{% load static i18n humanize %}

{% block title %}User: {{ object.get_full_name_or_username }}{% endblock %}

{% block content %}
<div class="container">


  <div class="row">
    <div class="col-md-2 col-sm-2 text-center">
      <img ng-src="{{object.get_avatar}}" alt="{{ object.full_name }}" width="75" class="img-circle top30">
    </div>
    <div class="col-md-10 col-sm-10">
      <h1>{{ object.get_full_name_or_username }}</h1>
     {% trans "Represents" %} <strong>{{ object.get_pagerank|floatformat:"2"|intcomma }}</strong> {% trans "votes" %}
      <br>
      {% trans "Based on the members who delegated to" %} {{ user.get_full_name_or_username }}
    </div>
  </div>
  
    {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row top20">

    <div class="col-sm-12 ">
      <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
      <!--a class="btn btn-primary" href="{% url 'avatar_change' %}">Change your avatar</a-->
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}
  <div class="row top20">
      <div class="col-xs-12">
        <h2>{% trans "Members who delegated to" %} {{ object.get_full_name_or_username }}</h2>
      </div>
      {% for delegate in delegaters %}
      {% with user=delegate.user %}
      <div class="delegate active col-xs-6 col-sm-3 col-md-2">
          <div class="thumbnail">
              <div class="img-container">
                  <a href="/users/{{ user.username }}">
                  <img ng-src="{{user.get_avatar}}" alt="{{ user.full_name }}" width="75" class="img-circle">
                  </a>
              </div>
              <div class="caption">
                  <h4 title="{{ user.get_full_name_or_username }}">{{ user.get_full_name_or_username }}</h4>
                  <small>({{ user.get_pagerank|floatformat:"2"|intcomma }})</small>
              </div>
          </div>
      </div>
      {% endwith %}
      {% empty %}
      <div class="col-xs-12 top20">
          <div class="alert alert-warning alert-dismissible" role="alert" ng-hide="assigned_delegates.length>0">
            {% trans "Nobody has delegated this user" %}
          </div>
      </div>
      {% endfor %}
  </div>

  <div class="row top20">
      <div class="col-xs-12">
        <h2>{{ object.get_full_name_or_username }} {% trans "delegates his/her votes to" %}</h2>
      </div>
      {% for delegate in delegateds %}
      {% with user=delegate.delegate %}
      <div class="delegate active col-xs-6 col-sm-3 col-md-2">
          <div class="thumbnail">
              <div class="img-container">
                  <a href="/users/{{ user.username }}">
                  <img ng-src="{{user.get_avatar}}" alt="{{ user.full_name }}" width="75" class="img-circle">
                  </a>
              </div>
              <div class="caption">
                  <h4 title="{{ user.get_full_name_or_username }}">{{ user.get_full_name_or_username }}</h4>
                  <small>({{ user.get_pagerank|floatformat:"2"|intcomma }})</small>
              </div>
          </div>
      </div>
      {% endwith %}
      {% empty %}
      <div class="col-xs-12 top20">
          <div class="alert alert-warning alert-dismissible" role="alert" ng-hide="assigned_delegates.length>0">
            {% trans "Member does not have delegates" %}
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}

