{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}{% trans "Your delegates" %}{% endblock title %}

{% block content %}
<div class="row" ng-controller="DelegatesCrtl">
    <div class="col-xs-12">
        <h1>{% trans "Your delegates" %}</h1>
        <p>
            {% trans "In Ekratia you can vote for yourself and delegate your vote to others, so that they can vote for you when you don't have the time." %}
        </p>
        <h2>{% trans "Your current delegates" %}</h2>
        <div class="row">
            <div ng-include=" 'delegates/delegate.html' "></div>
        </div>

        <h2>{% trans "Add more delegates" %}</h2>
        <div class="row">
            <div ng-include=" 'delegates/available_delegates.html' "></div>
        </div>
    </div>
</div>
{% endblock content %}
