.delegate-action{
  position:absolute;
  top: 0px;
  right: 40px;
  font-size: 30px;
}

.delegate{
    .thumbnail{
      border: none;
    }
    .caption{
        h4{
          width: auto;
          box-sizing: content-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 1em;
          margin: 0px;
        }
    }
}