.delegate-action{
  position:absolute;
  top: 5px;
  right: 20px;
  font-size: 30px;
}

.delegate{
    .caption{
        h4{
            width: auto;
          box-sizing: content-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
    }
}