.delegate-action{
  position:absolute;
  top: -12px;
  right: -15px;
  font-size: 30px;
}

.delegate{
    .thumbnail{
      border: none;
    }
    .img-container{
      margin-left: auto;
      margin-right: auto;
      width: 75px;
      position: relative;
    }
    .caption{
        h4{
          width: auto;
          box-sizing: content-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 1em;
          margin: 0px;
        }
    }
}