// project specific CSS goes here

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

@import "../../client/styles/project.scss";

$color_base: #009999;
$color_vote_inactive: #ccc;
$color_vote_active: #006699;
$color_vote_hover: rgba($color_vote_active, 0.7);

div.threads{
    ul.root-comment-list, ul.root-comment-list ul:first-child{
        padding-left: 0px;
    }
    ul.root-comment-list > li.first-level > ul{
        padding-left: 0px;
    }
    div.comment-vote{
        float: left;
        font-size: x-large;
        padding: 0 15px;
        a{
          color: $color_vote_inactive;
        }
        a.active{
          color: $color_vote_active;
        }
        a:hover{
          color: $color_vote_hover;
        }
    }
    div.comment-content{
        padding-left: 15px;
    }
    div.comment-container{
        // border-top: 1px dotted #ccc;
        margin-top: 10px;
        padding-top: 10px;
    }
    ul.root-comment-list a{
        text-decoration: underline;
    }

    span.gray{
        color:gray;
    }
    div.text-message{
        margin-left: 35px;
        padding-top: 5px;
        text-align: justify;
    }
    div.thread-message{
        padding-top: 5px;
        margin-left: 35px;
        margin-bottom: 20px;
        text-align: justify;
    }
}


.delegate-action{
  position:absolute;
  top: 5px;
  right: 20px;
  font-size: 30px;
}

.bottom-20{
  margin-bottom: 20px;
}
.horizontal-line{
  border-top: 1px dotted #ccc;
}