.vote-button{
    font-size: 60px;
    color: $color_vote_inactive;

    &.up{
        &.active{
            color: $color_vote_up;
        }
        &:hover{
            color: darken($color_vote_up, 10%);
        }
    }

    &.down{
        &.active{
            color: $color_vote_down;
        }
        &:hover{
            color: darken($color_vote_down, 10%);
        }
    }
}

div.referendum-list{
    div.open{
        a{
            background-color: $color_list_element_highlighted;
            &:hover{
            background-color: $color_list_element_highlighted_hover;
            }
        }
    }
}

div.referendum-results{
    .fa{
        font-size: 40px;
        &.fa-arrow-circle-up{
            color: $color_vote_up;
        }
        &.fa-arrow-circle-down{
            color: $color_vote_down;
        }
    }
}