.vote-button{
    font-size: 60px;
    color: $color_vote_inactive;

    &.up{
        &.active{
            color: $color_vote_up;
        }
        &:hover{
            color: darken($color_vote_up, 5%);
        }
    }

    &.down{
        &.active{
            color: $color_vote_down;
        }
        &:hover{
            color: darken($color_vote_down, 5%);
        }
    }
}

div.referendum-list{
    div.open{
        a{
            background-color: $color_list_element_highlighted;
            &:hover{
            background-color: $color_list_element_highlighted_hover;
            }
        }
    }
}

div.referendum-results{
    .fa{
        font-size: 40px;
        &.fa-arrow-circle-up{
            color: $color_vote_up;
        }
        &.fa-arrow-circle-down{
            color: $color_vote_down;
        }
    }
}

.vote{
    .fa{
        &.fa-arrow-circle-up{
            color: $color_vote_up;
        }
        &.fa-arrow-circle-down{
            color: $color_vote_down;
        }
    }
}

.f24{
    font-size: 24px;
}
div.container-graph-container{
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 50px;
    #graph-container {
        width: 100%;
        height: 500px;
    }
}