// Bootstrap Screen Size
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

$color_base: #009999;
$gray: #f5f5f5;

$color_vote_inactive: darken($gray, 20%);
$color_vote_active: #006699;
$color_vote_hover: rgba($color_vote_active, 0.7);

$color_vote_up: #109D58;
$color_vote_down: #E11B22;

$color_list_element_highlighted: rgba($color_base, 0.1);
$color_list_element_highlighted_hover: darken($gray, 5%);