// Bootstrap Screen Size
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

$color_base: #009999;
$color_vote_inactive: #ccc;
$color_vote_active: #006699;
$color_vote_hover: rgba($color_vote_active, 0.7);