{% load staticfiles i18n socialaccount compress %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="Ekratia">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock title %} | Ekratia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    {# <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> #}

    <!-- Your stuff: Third-party css libraries go here -->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    {% compress css%}
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/css/animate.min.css' %}" >
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/css/creative.css' %}" >

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <style>
      .container {
        min-width: 0;
        max-width: 960px;
      }
    </style>
    {% endcompress %}
    {% endblock css %}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicon/manifest.json" %}">
  
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}">
  <meta name="theme-color" content="#ffffff">
  </head>
  <body class="{% block body_class %}{% endblock %}">
      <nav id="mainNav" class="navbar navbar-default">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="{% url 'home' %}"><i class="fa fa-arrow-circle-up"></i> Ekratia</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'referendums:list' %}">{% trans "Referendums" %}</a></li>
                      <li><a href="{% url 'conversations:threads' %}">{% trans "Conversations" %}</a></li>
                      <li><a href="{% url 'rules' %}">{% trans "Rules" %}</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}
                          {{ LANGUAGE_CODE }}
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                          {% for language in languages %}
                          {% if  language.code != LANGUAGE_CODE %}
                            <li><a href="/{{ language.code }}/">{{ language.name_local|title }} ({{ language.code }})</a></li>
                          {% endif %}
                          {% endfor %}
                          </ul>
                        </li>
                      {% if request.user.is_authenticated %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <img ng-src="{{request.user.get_avatar}}" alt="{{ request.user.full_name }}" width="25" class="img-circle">
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'users:detail' request.user.username %}">{% trans "Profile" %}</a></li>
                            <li><a href="{% url 'delegates:delegates' %}">{% trans "Your delegates" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'account_logout' %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
                          </ul>
                        </li>
                      {% else %}
                        <li><a  class=""href="{% provider_login_url 'facebook' next=request.path scope=scope auth_params=auth_params %}">{% trans "Log In" %}</a></li>
                      {% endif %}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert messages alert-dismissible {% if message.tags %}alert-{{ message.tags }} {% endif %} system-notification" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        </div> <!-- /container -->
    {% block body %}

      <div class="container">
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </div> <!-- /container -->
    {% endblock body %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      {% compress js %}
      {% comment %}
      <script src="{% static 'js/main.js' %}"></script>
      {% endcomment %}
        


      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static "dist/components.min.js" %}"></script>

      <!-- Plugin JavaScript -->
      <script src="{% static 'vendor/creative-theme/js/jquery.easing.min.js' %}"></script>
      <script src="{% static 'vendor/creative-theme/js/jquery.fittext.js' %}"></script>
      <script src="{% static 'vendor/creative-theme/js/wow.min.js' %}"></script>

      <!-- Custom Theme JavaScript -->
      <script src="{% static 'vendor/creative-theme/js/creative.js' %}"></script>

      <script src="{% static "scripts/app.js" %}"></script>
      <script src="{% static "scripts/controllers/comment.js" %}"></script>
      <script src="{% static "scripts/controllers/conversation.js" %}"></script>
      <script src="{% static "scripts/controllers/delegate.js" %}"></script>
      <script src="{% static "scripts/controllers/referendum.js" %}"></script>
      <script src="{% static "scripts/services/comment.js" %}"></script>
      <script src="{% static "scripts/services/vote_comment.js" %}"></script>
      <script src="{% static "scripts/services/delegate.js" %}"></script>
      <script src="{% static "scripts/services/referendum_comment.js" %}"></script>
      <script src="{% static "scripts/services/user.js" %}"></script>
      <script src="{% static "scripts/directives/directives.js" %}"></script>
      <script src="{% static "scripts/filters/capitalize.js" %}"></script>
      <script src="{% static "scripts/filters/nl2p.js" %}"></script>
<script type="text/javascript">
    $(document).on('ready', function(){
        window.setTimeout(function() { $(".system-notification").fadeIn(); }, 1000);
        window.setTimeout(function() { $(".system-notification").fadeOut(); }, 5000);
    });
</script>
      {% endcompress %}
<script type="text/javascript">
  var url_login = '{% url 'account_login' %}?next={{ request.path }}';
</script>
    {% endblock javascript %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
