{% load staticfiles i18n socialaccount compress %}<!DOCTYPE html>
<html lang="en" ng-app="Ekratia">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock title %} | Ekratia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    {# <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> #}

    <!-- Your stuff: Third-party css libraries go here -->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    {% compress css%}
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/css/animate.min.css' %}" >
    <link rel="stylesheet" href="{% static 'vendor/creative-theme/css/creative.css' %}" >

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <style>
      .container {
        min-width: 0;
        max-width: 960px;
      }
    </style>
    {% endcompress %}
    {% endblock css %}
  <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
  <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
  </head>
  <body class="{% block body_class %}{% endblock %}">
      <nav id="mainNav" class="navbar navbar-default">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="/"><i class="fa fa-arrow-circle-up"></i> Ekratia</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'threads:threads' %}">{% trans "Conversations" %}</a></li>
                      <li><a href="{% url 'rules' %}">Rules</a></li>
                      <li><a href="{% url 'help' %}">{% trans "I want to Help!" %}</a></li>
                      {# <li><a href="{% url 'about' %}">About</a></li> #}

                      {% if request.user.is_authenticated %}
                        {# <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li> #}
                        <li><a href="{% url 'delegates:delegates' %}">Your delegates</a></li>
                        <li><a href="{% url 'referendums:list' %}">Referendums</a></li>
                        <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                      {% else %}
                        {# <li><a href="{% provider_login_url 'facebook' process=process scope=scope auth_params=auth_params %}">{% trans "Log In" %}</a></li> #}
                        <li><a  class=""href="{% provider_login_url 'facebook' process=process scope=scope auth_params=auth_params %}">{% trans "Log In" %}</a></li>
                      {% endif %}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert messages alert-dismissible {% if message.tags %}alert-{{ message.tags }} {% endif %} system-notification" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        </div> <!-- /container -->
    {% block body %}

      <div class="container">
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </div> <!-- /container -->
    {% endblock body %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      {% compress js %}
      {% comment %}
      <script src="{% static 'js/main.js' %}"></script>
      {% endcomment %}
        


      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->

      <!-- Plugin JavaScript -->
      <script src="{% static 'vendor/creative-theme/js/jquery.easing.min.js' %}"></script>
      <script src="{% static 'vendor/creative-theme/js/jquery.fittext.js' %}"></script>
      <script src="{% static 'vendor/creative-theme/js/wow.min.js' %}"></script>

      <!-- Custom Theme JavaScript -->
      <script src="{% static 'vendor/creative-theme/js/creative.js' %}"></script>

      <script src="{% static "dist/components.min.js" %}"></script>
      <script src="{% static "scripts/app.js" %}"></script>
      <script src="{% static "scripts/controllers/comment.js" %}"></script>
      <script src="{% static "scripts/controllers/conversation.js" %}"></script>
      <script src="{% static "scripts/controllers/delegate.js" %}"></script>
      <script src="{% static "scripts/services/comment.js" %}"></script>
      <script src="{% static "scripts/services/vote_comment.js" %}"></script>
      <script src="{% static "scripts/services/delegate.js" %}"></script>
      <script src="{% static "scripts/services/referendum_comment.js" %}"></script>
      <script src="{% static "scripts/directives/directives.js" %}"></script>
      <script src="{% static "scripts/filters/capitalize.js" %}"></script>
<script type="text/javascript">
    $(document).on('ready', function(){
        window.setTimeout(function() { $(".system-notification").fadeIn(); }, 1000);
        window.setTimeout(function() { $(".system-notification").fadeOut(); }, 5000);
    });
</script>
      {% endcompress %}

    {% endblock javascript %}
  </body>
</html>
