{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 text">
    <br><br>
      <h2>{% trans "Sign In" %}</h2>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <a  class="btn btn-primary"href="{% provider_login_url 'facebook' process=process scope=scope auth_params=auth_params %}"><i class="fa fa-facebook"></i> {% trans "Log In with Facebook" %}</a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}

