.votes {
  float: left;
  display: inline; }

/*.col-xs-4{
    padding-right: 0;
    padding-left: 0;
}*/
.caption {
  text-align: center; }

/*.thumbnail{
    padding: 14px;
}*/
.comment {
  margin-top: 0 !important; }

.vote-button {
  background: none;
  font-size: x-large; }

ul {
  list-style-type: none; }

.thread-list li {
  background-color: #f0f0f0;
  padding: 14px 17px;
  margin-bottom: 5px;
  min-height: 75px; }

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  color: #009999; }

.subtitle {
  font-size: 12px;
  color: #b3b3b3;
  word-spacing: 2px;
  font-weight: 300; }

.summary {
  margin-top: 5px;
  color: black !important;
  font-size: 14px;
  word-spacing: 2px;
  font-weight: 300; }

#results {
  margin-left: auto;
  margin-right: auto; }

.image-person {
  width: 130px;
  height: 160px; }

.bg-primary a {
  color: white; }

.color-red {
  color: #B22222; }
  .color-red a {
    color: #B22222; }

.bottom-20 {
  margin-bottom: 20px; }

.horizontal-line {
  border-top: 1px dotted #ccc; }

.newlines {
  white-space: pre-wrap; }

.top20, .page-content {
  margin-top: 20px; }

.top30 {
  margin-top: 30px; }

.text-strike {
  text-decoration: line-through; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 44px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 57px; } }

/* Large devices (large desktops, 1200px and up) */
#mainNav {
  border-radius: 0 !important;
  border: 0; }

/**
Project Styles
**/
@media (max-width: 768px) {
  .navbar-collapse {
    background: #e7e7e7; } }

body.home .navbar-default {
  margin-bottom: 0; }

.navbar-default {
  background-color: black; }

body {
  font-size: 16px; }

ol li {
  margin-bottom: 1em; }

ol {
  margin-left: 1em; }

.alert.messages {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 100;
  margin: 0 50px; }

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 102, 153, 0.7); }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: rgba(0, 102, 153, 0.7); }

.conversation-create-btn {
  margin-top: 24px; }
  @media (min-width: 768px) {
    .conversation-create-btn {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .conversation-create-btn {
      margin-top: 40px; } }

div.threads ul.root-comment-list, div.threads ul.root-comment-list ul:first-child {
  padding-left: 0px; }

div.threads ul.root-comment-list > li.first-level > ul {
  padding-left: 0px; }

div.threads div.comment-vote {
  float: left;
  font-size: x-large;
  padding: 0 15px; }
  div.threads div.comment-vote a {
    color: #c2c2c2; }
  div.threads div.comment-vote a.active {
    color: #006699; }
  div.threads div.comment-vote a:hover {
    color: rgba(0, 102, 153, 0.7); }

div.threads div.comment-content {
  padding-left: 20px; }
  div.threads div.comment-content .comment-head {
    font-size: 0.8em;
    margin-left: 35px; }
  div.threads div.comment-content div.text-message {
    margin-left: 35px;
    padding-top: 5px;
    text-align: justify; }
    div.threads div.comment-content div.text-message .comment-text {
      display: inline-block; }
      div.threads div.comment-content div.text-message .comment-text p {
        margin-bottom: 0px; }
      div.threads div.comment-content div.text-message .comment-text p.emptyline {
        line-height: 5px; }
  div.threads div.comment-content div.comment-actions a {
    font-size: 0.8em; }

div.threads div.comment-container {
  margin-top: 10px;
  padding-top: 10px; }

div.threads ul.root-comment-list a {
  text-decoration: underline; }

div.threads span.gray {
  color: gray; }

div.threads div.thread-message {
  padding-top: 5px;
  margin-left: 35px;
  margin-bottom: 20px;
  text-align: justify; }

div.threads ul.children form.comment-form {
  margin-left: 32px; }

div.threads .referendum-rule-title {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px; }

.referendums-head p {
  margin-bottom: 0px; }

.referendums-head p.emptyline {
  line-height: 5px; }

.delegate-action {
  position: absolute;
  top: -12px;
  right: -15px;
  font-size: 30px; }

.delegate .thumbnail {
  border: none; }

.delegate .img-container {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  position: relative; }

.delegate .caption h4 {
  width: auto;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
  margin: 0px; }

.vote-button {
  font-size: 60px;
  color: #c2c2c2; }
  .vote-button.up.active {
    color: #109D58; }
  .vote-button.up:hover {
    color: #0b6f3e; }
  .vote-button.down.active {
    color: #E11B22; }
  .vote-button.down:hover {
    color: #b3161b; }

div.referendum-list div.open a {
  background-color: rgba(0, 153, 153, 0.1); }
  div.referendum-list div.open a:hover {
    background-color: #e8e8e8; }

div.referendum-results .fa {
  font-size: 40px; }
  div.referendum-results .fa.fa-arrow-circle-up {
    color: #109D58; }
  div.referendum-results .fa.fa-arrow-circle-down {
    color: #E11B22; }

#graph-container {
  width: 100%;
  height: 500px; }
