.votes {
  float: left;
  display: inline; }

/*.col-xs-4{
    padding-right: 0;
    padding-left: 0;
}*/
.caption {
  text-align: center; }

/*.thumbnail{
    padding: 14px;
}*/
.comment {
  margin-top: 0 !important; }

.vote-button {
  background: none;
  font-size: x-large; }

ul {
  list-style-type: none; }

.thread-list li {
  background-color: #f0f0f0;
  padding: 14px 17px;
  margin-bottom: 5px;
  min-height: 75px; }

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  color: #009999; }

.subtitle {
  font-size: 12px;
  color: #b3b3b3;
  word-spacing: 2px;
  font-weight: 300; }

.summary {
  margin-top: 5px;
  color: black !important;
  font-size: 14px;
  word-spacing: 2px;
  font-weight: 300; }

#results {
  margin-left: auto;
  margin-right: auto; }

.image-person {
  width: 130px;
  height: 160px; }

.bg-primary a {
  color: white; }

.color-red {
  color: #B22222; }
  .color-red a {
    color: #B22222; }

.bottom-20 {
  margin-bottom: 20px; }

.horizontal-line {
  border-top: 1px dotted #ccc; }

.newlines {
  white-space: pre-wrap; }

.top20, .page-content {
  margin-top: 20px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 44px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 57px; } }

/* Large devices (large desktops, 1200px and up) */
#mainNav {
  border-radius: 0 !important;
  border: 0; }

/**
Project Styles
**/
@media (max-width: 768px) {
  .navbar-collapse {
    background: #e7e7e7; } }

body.home .navbar-default {
  margin-bottom: 0; }

.navbar-default {
  background-color: black; }

body {
  font-size: 16px; }

ol li {
  margin-bottom: 1em; }

ol {
  margin-left: 1em; }

.alert.messages {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 100;
  margin: 0 50px; }

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.conversation-create-btn {
  margin-top: 24px; }
  @media (min-width: 768px) {
    .conversation-create-btn {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .conversation-create-btn {
      margin-top: 40px; } }

div.threads ul.root-comment-list, div.threads ul.root-comment-list ul:first-child {
  padding-left: 0px; }

div.threads ul.root-comment-list > li.first-level > ul {
  padding-left: 0px; }

div.threads div.comment-vote {
  float: left;
  font-size: x-large;
  padding: 0 15px; }
  div.threads div.comment-vote a {
    color: #ccc; }
  div.threads div.comment-vote a.active {
    color: #006699; }
  div.threads div.comment-vote a:hover {
    color: rgba(0, 102, 153, 0.7); }

div.threads div.comment-content {
  padding-left: 15px; }

div.threads div.comment-container {
  margin-top: 10px;
  padding-top: 10px; }

div.threads ul.root-comment-list a {
  text-decoration: underline; }

div.threads span.gray {
  color: gray; }

div.threads div.text-message {
  margin-left: 35px;
  padding-top: 5px;
  text-align: justify; }

div.threads div.thread-message {
  padding-top: 5px;
  margin-left: 35px;
  margin-bottom: 20px;
  text-align: justify; }

div.threads ul.children form.comment-form {
  margin-left: 32px; }

.delegate-action {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 30px; }

.delegate .caption h4 {
  width: auto;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
