{% extends "base.html" %}

{% load i18n humanize %}
{% block title %}{% trans "Finished Referendums" %}{% endblock title %}
{% block content %}
      
	<div class="row">
		<div class="col-xs-8">
			<h1>{% trans "Finished Referendums" %}</h1>
		</div>
		<div class="col-xs-4 text-right">
			<a class="btn btn-primary conversation-create-btn" href="{% url 'referendums:create' %}">
			<i class="fa fa-plus"></i>
			<span class="hidden-xs">{% trans "Start a Referendum" %}</span>
			</a>
		</div>
	</div>


	<div class="row page-content referendum-list">
		<div class="col-xs-12">
  	{% for referendum in object_list %}
		  	<div class="list-group">
				<a href="{% url "referendums:detail" slug=referendum.slug %}" class="list-group-item">
				<div class="row">
					<div class="col-sm-8">
						{{ referendum.title }}
					</div>
					<div class="col-sm-4 text-right">
						<small>
							{% trans "Finished" %} {{ referendum.end_time | naturaltime }}
						</small>
					</div>
				</div>
				</a>

			</div>
  	{% endfor %}
		</div>
		<div class="col-xs-12 text-center">
			<small>
			[<a href="{% url 'referendums:list' %}">{% trans "Active Referendums" %}</a>]
			</small>
		</div>
	</div>


{% endblock %}
