{% extends "base.html" %}
{% load bootstrap3 i18n %}
{% block title %}{% trans "Referendum" %}: {{ object.title }}{% endblock title %}
{% block content %}
<div class="container threads">
    <div class="referendum" ng-controller="ReferendumController">
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <h1>{{ object.title }}</h1>
        <div class="referendums-head">
            <div class="referendum-rule-title top20">{% trans "Text that this referendum will remove from our rules" %}:</div>
            <p ng-bind-html="'{{object.text_remove_rules }}' | nl2p"></p>
            <div  class="referendum-rule-title top20">{% trans "Text that this referendum will add to our rules" %}:</div>
            <p ng-bind-html="'{{object.text_add_rules }}' | nl2p"></p>
        </div>
        {% if request.user.is_authenticated and request.user == object.user and not object.is_open %}
        <div class="referendum-vote text-center top20">
            <button class="btn btn-primary btn-md" data-ng-init="referendumInit({{ object.id }}, '{% url 'referendums:open' object.slug %}')" ng-click="openVoting()" >{% trans "Open for Voting" %}</button>
        </div>
        {% endif %}
        {% if object.is_open %}
        <div class="referendum-vote text-center top20">
            <a class="btn btn-primary btn-md" href="{% url 'referendums:vote' object.slug %}" >{% trans "Vote Now" %}</a>
        </div>
        {% endif %}
    </div>
    <div class="row top20" ng-controller="CommentsController" data-ng-init="initThread('referendum', {{object.id}}, {{ object.comment_id}})">
        <div class="col-md-12">
            <ul class="root-comment-list">
                <li class="first-level" ng-repeat="comment in comments" ng-include="'tree_item_renderer.html'" on-last-repeat>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template"  id="tree_item_renderer.html">
{% include "threads/_comment_node.html" %}
</script>



{% endblock content %}
