{% extends "base.html" %}
{% load bootstrap3 i18n %}
{% block title %}{% trans "Referendum" %}: {{ object.title }}{% endblock title %}
{% block content %}
<div class="container threads">
    <h1>{{ object.title }}</h1>
    <h2>{% trans "Text that this referendum will remove from our rules" %}</h2>
    <p class="newlines">{{object.text_remove_rules }}</p>
    <h2>{% trans "Text that this referendum will add to our rules" %}</h2>
    <p class="newlines">{{object.text_add_rules }}</p>
    <p></p>
    <div class="row" ng-controller="CommentsController" data-ng-init="initThread('referendum', {{object.id}}, {{ object.comment_id}})">
        <div class="col-md-12">
            <ul class="root-comment-list">
                <li class="first-level" ng-repeat="comment in comments" ng-include="'tree_item_renderer.html'" on-last-repeat>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template"  id="tree_item_renderer.html">
{% include "threads/_comment_node.html" %}
</script>
{% endblock content %}
