{% extends "base.html" %}
{% load bootstrap3 i18n humanize %}
{% block title %}{% trans "Referendum" %}: {{ object.title }}{% endblock title %}
{% block content %}
<div class="container threads">
    <div class="referendum" ng-controller="ReferendumController">
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <h1>{{ object.title }}</h1>
        <div class="referendums-head">
            <div class="referendum-rule-title top20">{% trans "Text that this referendum will remove from our rules" %}:</div>
            <p ng-bind-html="'{{object.text_remove_rules }}' | nl2p"></p>
            <div  class="referendum-rule-title top20">{% trans "Text that this referendum will add to our rules" %}:</div>
            <p ng-bind-html="'{{object.text_add_rules }}' | nl2p"></p>
        </div>
        {% if request.user.is_authenticated and request.user == object.user and not object.is_open and not object.open_time %}
        <div class="referendum-vote text-center top20">
            <button class="btn btn-primary btn-md" data-ng-init="referendumInit({{ object.id }}, '{% url 'referendums:open' object.slug %}')" ng-click="openVoting()" >{% trans "Open for Voting" %}</button>
        </div>
        {% endif %}
        {% if object.is_open %}
        <div class="horizontal-line top20"></div>
        <div class="referendum-vote text-center top20">
        <h2>{% trans "Vote for this Referendum" %}</h2>
            <div class="row referendum-vote top20">
                <div class="col-md-1 col-xs-3 col-md-offset-5 col-xs-offset-3 text-center">
                    <a class="vote-button up {% if user_vote.value > 0 %}active{% endif %}" href="{% url 'referendums:process_vote' object.slug 'yes' %}"><i class="fa fa-arrow-circle-up"></i></a>
                </div>
                <div class="col-md-1 col-xs-3 text-center">
                    <a class="vote-button down {% if user_vote.value < 0 %}active{% endif %}" href="{% url 'referendums:process_vote' object.slug 'no' %}"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
            {% if user_vote.value %}
            <div class="row">
                <div class="col-xs-12">
                    {% trans "You voted" %} 
                    {% if user_vote.value > 0 %}
                        <strong>"{% trans "Yes" %}"</strong>
                    {% else %}
                        <strong>"{% trans "No" %}"</strong>
                    {% endif %} {{ user_vote.date | naturaltime }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    {% trans "Referendum expires in" %} <strong>{{ object.end_time | naturaltime }}</strong>
                </div>
            </div>
        </div>


        {% endif %}

        <div class="top20">
        </div>
        {% if object.is_finished %}
            <div class="alert alert-warning alert-dismissible text-center top20" role="alert">
              {% trans "This Referendum has ended" %}
            </div>
        {% endif %}
    </div>
    <div class="row top20" ng-controller="CommentsController" data-ng-init="initThread('referendum', {{object.id}}, {{ object.comment_id}})">
        <div class="col-xs-12">
            <ul class="root-comment-list">
                <li class="first-level" ng-repeat="comment in comments" ng-include="'tree_item_renderer.html'" on-last-repeat>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template"  id="tree_item_renderer.html">
{% include "threads/_comment_node.html" %}
</script>



{% endblock content %}
