{% extends "base.html" %}
{% load bootstrap3 i18n %}
{% block title %}{% trans "Referendum" %}: {{ object.title }}{% endblock title %}
{% block content %}
<div class="container threads">
    <div class="referendum" ng-controller="ReferendumController">
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <h1>{% trans "Vote for: " %}{{ object.title }}</h1>
        <div class="referendums-head">
            <div class="referendum-rule-title top20">{% trans "Text that this referendum will remove from our rules" %}:</div>
            <p ng-bind-html="'{{object.text_remove_rules }}' | nl2p"></p>
            <div  class="referendum-rule-title top20">{% trans "Text that this referendum will add to our rules" %}:</div>
            <p ng-bind-html="'{{object.text_add_rules }}' | nl2p"></p>
        </div>
    </div>

    <div class="row referendum-vote">
        <div class="col-md-1 col-md-offset-5 text-center">
            <a class="btn btn-success btn-lg" href="{% url 'referendums:process_vote' object.slug 'yes' %}">YES</a>
        </div>
        <div class="col-md-1 text-center">
            <a class="btn btn-danger btn-lg" href="{% url 'referendums:process_vote' object.slug 'no' %}">NO</a>
        </div>
    </div>

</div>


{% endblock content %}
