<div class="row">
               <br>
               <div class="panel panel-default">
                   <div class="panel-body">
                       <div class="col-xs-12">
                           <h3><strong>   Add thread</strong></h3>
                           <hr>
                           <h4>Title</h4>
                           <input>
                           <br>
                           <br>
                           <h4>Description</h4>
                           <textarea style="width: 50%; height: 100px; resize: none"></textarea>
                           <br>
                           <br>
                           <button type="button" class="btn btn-primary">Add comment</button>
                       </div>
                   </div>
               </div>
               <br>
               <br>
