{% load bootstrap3 %}
{% verbatim %}
<a name="c{{ comment.id }}"></a>
<div class="row comment-container" ng-hide="comment.data.thread" id="c{{ comment.id }}">
    <div class="comment-vote">
        <a href=""><i class="fa fa-arrow-circle-up"></i></a><br>
        <a href=""><i class="fa fa-arrow-circle-down"></a></i>
    </div>
    <div class="comment-content">
            <span ng-show="comment.children">
            <a href="" ng-click="toggl_children(comment)" ng-hide="comment.close_children">[-]</a><a href="" ng-click="toggl_children(comment)" ng-show="comment.close_children">[+]</a> 
            </span>
            {{ comment.data.user.full_name }} &nbsp; {{ comment.data.date | date:"MM/dd/yyyy 'at' h:mma" }}:
            <br>
        {{ comment.data.content }}
        <br>
        <a href="#/#c{{ comment.id }}" target="_self">permalink</a>&nbsp;
        <!--a href="" ng-click="scrollTo('c54')\'" target="_self">permalink</a>&nbsp;-->
        <a ng-click="toggleCommentForm(comment)" href="" ng-hide="comment.open_form">reply</a>
        <a ng-click="toggleCommentForm(comment)" href="" ng-show="comment.open_form">hide</a>
    </div>
</div>
{% endverbatim %}

{% if request.user.is_authenticated %}
<form novalidate ng-submit="saveComment(comment)" ng-show="comment.open_form || comment.data.thread">
<div class="form-group">
    <textarea class="form-control" maxlength="30" name="content" placeholder="Your Comment" required="required" rows="2" ng-model="comment.reply" required></textarea>
</div>

<div class="form-group text-right">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-star"></span> Submit
    </button>
</div>
</form>
{% else %}
<div ng-show="comment.open_form">
You need to be authenticated to comment <a href="{% url 'account_login' %}">Log in</a>
</div>
{% endif %}
<ul ng-hide="comment.close_children">
    <li ng-repeat="comment in comment.children" ng-include="'tree_item_renderer.html'"></li>
</ul>
